* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    font-size: 0.8rem;
}

h1 {
    color: #03203C;
    padding: 20px;
}

header h4 {
    padding: 10px;
    color: #242B2E;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: black solid 1px;
}

.day {
    background: #35BDD0;
}

table td {
    padding: 10px;
}

tr {
    background: #CAD5E2;
}

table a {
    text-decoration: none;
    color: #242B2E;

}

.pe, .pe1, .pe2, .pe3, .pe4, .oe, .oe1, .oe2{
    position: absolute;
    margin-left: -35px;
    display: none;
    background: #CAD5E2;
}

.pe a, .pe1 a, .pe2 a, .pe3 a, .pe4 a, .oe a, .oe1 a, .oe2 a{
    color: #DCE2F0;
    padding: 10px;
    margin-bottom: 5px;
    background: #023466;
    display: block;
}
.pe4 {
    margin-left: -10px;
}

.oe, .oe1, .oe2 {
    margin-left: -10px;
}
footer {
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #7e8186;
    padding: 20px;
}

/* .show {
    display: block;
}

.hide {
    display: none;
} */

@media screen and (min-width:700px) and (max-width:1024px) {
    body {
        font-size: 2.5rem;
    }
}




